:root {
    --primary-green: #58cc02;
    --primary-green-shadow: #46a302;
    --secondary-blue: #8bd4fe;
    --secondary-blue-shadow: #83d0f4;
    --accent-purple: #b969ef;
    --accent-purple-shadow: #d797ff;
    --accent-orange: #f08c4a;
    --accent-orange-shadow: #f08c4a;
    --accent-red: #ff4b4b;
    --accent-red-shadow: #d43232;
    --bg-color: #f7f7f7; 
    --card-bg: #ffffff;
    --text-main: #3c3c3c;
    --text-light: #57505026;
    --border-gray: #d4cfcf;
    --border-gray-shadow: #d4cfcf;
    --header-height: 70px;
    --border-radius: 16px;
    --btn-radius: 12px;
}