.options-container {
  flex: 1;
  padding: 0 1rem 8rem 1rem;
}


.options-grid {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 12px; 
    padding: 10px 15px; 
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
  .options-grid {
    grid-template-columns: 1fr;
  }
}