.question {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.question-text {
  color: rgb(0, 0, 0);
  font-size: 1.9rem;
  font-weight: 600;
}

.question-highlight {
  font-style: italic;
}